openapi: 3.0.3
info:
  title: Financial Modeling Prep Analyst Estimates SEC Filings API
  description: Financial Modeling Prep (FMP) provides real-time and historical financial data through more than 100 REST endpoints served from the stable base https://financialmodelingprep.com/stable. Coverage includes company financial statements (income statement, balance sheet, cash flow), real-time and historical quotes for stocks, forex, crypto, and commodities, SEC filings, analyst estimates, company fundamentals (profile, key metrics, ratios), and macroeconomic indicators. All requests are authenticated with an API key passed as the `apikey` query parameter. Responses default to JSON and most endpoints also support CSV via the `datatype` parameter. This document models a representative subset of the stable endpoints; see the FMP developer docs for the full catalog. FMP also exposes a real-time WebSocket surface, modeled separately in asyncapi/financialmodelingprep-asyncapi.yml.
  version: stable
  contact:
    name: Financial Modeling Prep
    url: https://site.financialmodelingprep.com
  termsOfService: https://site.financialmodelingprep.com/terms-of-service
servers:
- url: https://financialmodelingprep.com/stable
  description: FMP stable REST base
- url: https://financialmodelingprep.com/api/v3
  description: FMP legacy v3 REST base
security:
- apiKeyQuery: []
tags:
- name: SEC Filings
  description: Latest and searchable SEC filings for public companies.
paths:
  /sec-filings-search/symbol:
    get:
      operationId: getSecFilingsBySymbol
      tags:
      - SEC Filings
      summary: SEC filings by symbol
      description: Searches SEC filings for a company by ticker symbol within a date range, returning filing metadata and links to the source EDGAR documents.
      parameters:
      - $ref: '#/components/parameters/symbol'
      - name: from
        in: query
        required: false
        description: Start date (YYYY-MM-DD).
        schema:
          type: string
          format: date
      - name: to
        in: query
        required: false
        description: End date (YYYY-MM-DD).
        schema:
          type: string
          format: date
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A list of matching SEC filings.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /sec-filings-search/cik:
    get:
      operationId: getSecFilingsByCik
      tags:
      - SEC Filings
      summary: SEC filings by CIK
      description: Searches SEC filings for a company by its SEC Central Index Key (CIK) within a date range.
      parameters:
      - name: cik
        in: query
        required: true
        description: SEC Central Index Key, e.g. 0000320193 for Apple.
        schema:
          type: string
      - name: from
        in: query
        required: false
        description: Start date (YYYY-MM-DD).
        schema:
          type: string
          format: date
      - name: to
        in: query
        required: false
        description: End date (YYYY-MM-DD).
        schema:
          type: string
          format: date
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A list of matching SEC filings.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /financials-latest:
    get:
      operationId: getLatestFinancialFilings
      tags:
      - SEC Filings
      summary: Latest SEC filings
      description: Returns the most recent SEC filings submitted across public companies, for real-time monitoring of new disclosures.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: The latest filings feed.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
components:
  parameters:
    symbol:
      name: symbol
      in: query
      required: true
      description: Ticker symbol, e.g. AAPL. Some endpoints accept forex (EURUSD) or crypto (BTCUSD) symbols.
      schema:
        type: string
    limit:
      name: limit
      in: query
      required: false
      description: Maximum number of records to return.
      schema:
        type: integer
        default: 100
    page:
      name: page
      in: query
      required: false
      description: Zero-based page number for paginated results.
      schema:
        type: integer
        default: 0
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: apikey
      description: FMP API key passed as the `apikey` query parameter on every request, e.g. ?apikey=YOUR_API_KEY. Obtain a key from the FMP dashboard.
