openapi: 3.1.0
info:
  title: Financial Modeling Prep Cash Flow Statement API
  description: Financial Modeling Prep (FMP) Cash Flow Statement API — part of the FMP stable REST API. Generated from the
    official FMP API documentation (https://site.financialmodelingprep.com/api-docs.md). Legacy /api/v3 and /api/v4 endpoints
    have been discontinued; the stable base URL https://financialmodelingprep.com/stable is the supported surface.
  version: stable
  contact:
    name: Financial Modeling Prep
    url: https://site.financialmodelingprep.com/
servers:
- url: https://financialmodelingprep.com/stable
  description: Financial Modeling Prep stable API
security:
- apiKeyQuery: []
- apiKeyHeader: []
tags:
- name: Cash Flow Statement
paths:
  /cash-flow-statement:
    get:
      operationId: getCashFlowStatement
      summary: Get cash flow statements for a company
      description: Get cash flow statements for a company. Documented at https://site.financialmodelingprep.com/developer/docs.
      tags:
      - Cash Flow Statement
      parameters:
      - name: symbol
        in: query
        required: true
        schema:
          type: string
        example: AAPL
      - name: limit
        in: query
        required: false
        schema:
          type: number
        example: '5'
      - name: period
        in: query
        required: false
        schema:
          type: string
        example: Q1,Q2,Q3,Q4,FY,annual,quarter
      responses:
        '200':
          description: Cash Flow Statement data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CashFlowStatement'
              example:
              - date: '2024-09-28'
                symbol: AAPL
                reportedCurrency: USD
                cik: 0000320193
                filingDate: '2024-11-01'
                acceptedDate: '2024-11-01 06:01:36'
                fiscalYear: '2024'
                period: FY
                netIncome: 93736000000
                depreciationAndAmortization: 11445000000
                deferredIncomeTax: 0
                stockBasedCompensation: 11688000000
                changeInWorkingCapital: 3651000000
                accountsReceivables: -5144000000
                inventory: -1046000000
                accountsPayables: 6020000000
                otherWorkingCapital: 3821000000
                otherNonCashItems: -2266000000
                netCashProvidedByOperatingActivities: 118254000000
                investmentsInPropertyPlantAndEquipment: -9447000000
                acquisitionsNet: 0
                purchasesOfInvestments: -48656000000
                salesMaturitiesOfInvestments: 62346000000
                otherInvestingActivities: -1308000000
                netCashProvidedByInvestingActivities: 2935000000
                netDebtIssuance: -5998000000
                longTermNetDebtIssuance: -9958000000
                shortTermNetDebtIssuance: 3960000000
                netStockIssuance: -94949000000
                netCommonStockIssuance: -94949000000
                commonStockIssuance: 0
                commonStockRepurchased: -94949000000
                netPreferredStockIssuance: 0
                netDividendsPaid: -15234000000
                commonDividendsPaid: -15234000000
                preferredDividendsPaid: 0
                otherFinancingActivities: -5802000000
                netCashProvidedByFinancingActivities: -121983000000
                effectOfForexChangesOnCash: 0
                netChangeInCash: -794000000
                cashAtEndOfPeriod: 29943000000
                cashAtBeginningOfPeriod: 30737000000
                operatingCashFlow: 118254000000
                capitalExpenditure: -9447000000
                freeCashFlow: 108807000000
                incomeTaxesPaid: 26102000000
                interestPaid: 0
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                Error Message: Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid
                  for more information.
components:
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: apikey
      description: FMP API key passed as a query parameter (?apikey=YOUR_API_KEY, or &apikey= when other query parameters
        exist).
    apiKeyHeader:
      type: apiKey
      in: header
      name: apikey
      description: 'FMP API key passed in the request header as apikey: YOUR_API_KEY.'
  schemas:
    CashFlowStatement:
      type: object
      properties:
        date:
          type: string
        symbol:
          type: string
        reportedCurrency:
          type: string
        cik:
          type: string
        filingDate:
          type: string
        acceptedDate:
          type: string
        fiscalYear:
          type: string
        period:
          type: string
        netIncome:
          type: integer
        depreciationAndAmortization:
          type: integer
        deferredIncomeTax:
          type: integer
        stockBasedCompensation:
          type: integer
        changeInWorkingCapital:
          type: integer
        accountsReceivables:
          type: integer
        inventory:
          type: integer
        accountsPayables:
          type: integer
        otherWorkingCapital:
          type: integer
        otherNonCashItems:
          type: integer
        netCashProvidedByOperatingActivities:
          type: integer
        investmentsInPropertyPlantAndEquipment:
          type: integer
        acquisitionsNet:
          type: integer
        purchasesOfInvestments:
          type: integer
        salesMaturitiesOfInvestments:
          type: integer
        otherInvestingActivities:
          type: integer
        netCashProvidedByInvestingActivities:
          type: integer
        netDebtIssuance:
          type: integer
        longTermNetDebtIssuance:
          type: integer
        shortTermNetDebtIssuance:
          type: integer
        netStockIssuance:
          type: integer
        netCommonStockIssuance:
          type: integer
        commonStockIssuance:
          type: integer
        commonStockRepurchased:
          type: integer
        netPreferredStockIssuance:
          type: integer
        netDividendsPaid:
          type: integer
        commonDividendsPaid:
          type: integer
        preferredDividendsPaid:
          type: integer
        otherFinancingActivities:
          type: integer
        netCashProvidedByFinancingActivities:
          type: integer
        effectOfForexChangesOnCash:
          type: integer
        netChangeInCash:
          type: integer
        cashAtEndOfPeriod:
          type: integer
        cashAtBeginningOfPeriod:
          type: integer
        operatingCashFlow:
          type: integer
        capitalExpenditure:
          type: integer
        freeCashFlow:
          type: integer
        incomeTaxesPaid:
          type: integer
        interestPaid:
          type: integer
    Error:
      type: object
      properties:
        Error Message:
          type: string
      description: 'FMP error envelope, e.g. {"Error Message": "Invalid API KEY. ..."}'
