openapi: 3.2.0
info:
  title: Financial Modeling Prep Profile API
  description: Financial Modeling Prep (FMP) provides financial market data including real-time and historical stock quotes, company fundamentals, financial statements (income, balance sheet, cash flow), insider transactions, earnings, ratios, and economic data. This OpenAPI spec covers a representative subset of the public REST API.
  version: 3.0.0
  contact:
    name: Financial Modeling Prep
    url: https://site.financialmodelingprep.com/
servers:
- url: https://financialmodelingprep.com/api/v3
  description: Financial Modeling Prep v3 API
security:
- apiKeyQuery: []
tags:
- name: Profile
paths:
  /profile/{symbol}:
    get:
      operationId: getCompanyProfile
      summary: Get company profile
      parameters:
      - $ref: '#/components/parameters/Symbol'
      responses:
        '200':
          description: Company profile
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyProfile'
      tags:
      - Profile
components:
  parameters:
    Symbol:
      name: symbol
      in: path
      required: true
      description: Ticker symbol (e.g., AAPL, MSFT)
      schema:
        type: string
  schemas:
    CompanyProfile:
      type: object
      properties:
        symbol:
          type: string
        companyName:
          type: string
        industry:
          type: string
        sector:
          type: string
        country:
          type: string
        ceo:
          type: string
        website:
          type: string
        description:
          type: string
        exchange:
          type: string
        currency:
          type: string
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: apikey
