openapi: 3.0.3
info:
  title: Financial Modeling Prep Analyst Estimates API
  description: Financial Modeling Prep (FMP) provides real-time and historical financial data through more than 100 REST endpoints served from the stable base https://financialmodelingprep.com/stable. Coverage includes company financial statements (income statement, balance sheet, cash flow), real-time and historical quotes for stocks, forex, crypto, and commodities, SEC filings, analyst estimates, company fundamentals (profile, key metrics, ratios), and macroeconomic indicators. All requests are authenticated with an API key passed as the `apikey` query parameter. Responses default to JSON and most endpoints also support CSV via the `datatype` parameter. This document models a representative subset of the stable endpoints; see the FMP developer docs for the full catalog. FMP also exposes a real-time WebSocket surface, modeled separately in asyncapi/financialmodelingprep-asyncapi.yml.
  version: stable
  contact:
    name: Financial Modeling Prep
    url: https://site.financialmodelingprep.com
  termsOfService: https://site.financialmodelingprep.com/terms-of-service
servers:
- url: https://financialmodelingprep.com/stable
  description: FMP stable REST base
- url: https://financialmodelingprep.com/api/v3
  description: FMP legacy v3 REST base
security:
- apiKeyQuery: []
tags:
- name: Analyst Estimates
  description: Consensus estimates, price targets, and rating grades.
paths:
  /analyst-estimates:
    get:
      operationId: getAnalystEstimates
      tags:
      - Analyst Estimates
      summary: Analyst estimates
      description: Returns consensus analyst estimates - projected revenue, EPS, EBITDA, and net income - for a ticker symbol, by annual or quarterly period.
      parameters:
      - $ref: '#/components/parameters/symbol'
      - $ref: '#/components/parameters/period'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A list of analyst estimate periods.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /financial-estimates:
    get:
      operationId: getFinancialEstimates
      tags:
      - Analyst Estimates
      summary: Financial estimates
      description: Returns forward-looking financial estimates for a ticker symbol as forecast by analysts.
      parameters:
      - $ref: '#/components/parameters/symbol'
      - $ref: '#/components/parameters/period'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A list of financial estimate periods.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
components:
  parameters:
    period:
      name: period
      in: query
      required: false
      description: Reporting period.
      schema:
        type: string
        enum:
        - annual
        - quarter
        default: annual
    limit:
      name: limit
      in: query
      required: false
      description: Maximum number of records to return.
      schema:
        type: integer
        default: 100
    symbol:
      name: symbol
      in: query
      required: true
      description: Ticker symbol, e.g. AAPL. Some endpoints accept forex (EURUSD) or crypto (BTCUSD) symbols.
      schema:
        type: string
    page:
      name: page
      in: query
      required: false
      description: Zero-based page number for paginated results.
      schema:
        type: integer
        default: 0
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: apikey
      description: FMP API key passed as the `apikey` query parameter on every request, e.g. ?apikey=YOUR_API_KEY. Obtain a key from the FMP dashboard.
