openapi: 3.0.3
info:
  title: Financial Modeling Prep Analyst Estimates Economic Data API
  description: Financial Modeling Prep (FMP) provides real-time and historical financial data through more than 100 REST endpoints served from the stable base https://financialmodelingprep.com/stable. Coverage includes company financial statements (income statement, balance sheet, cash flow), real-time and historical quotes for stocks, forex, crypto, and commodities, SEC filings, analyst estimates, company fundamentals (profile, key metrics, ratios), and macroeconomic indicators. All requests are authenticated with an API key passed as the `apikey` query parameter. Responses default to JSON and most endpoints also support CSV via the `datatype` parameter. This document models a representative subset of the stable endpoints; see the FMP developer docs for the full catalog. FMP also exposes a real-time WebSocket surface, modeled separately in asyncapi/financialmodelingprep-asyncapi.yml.
  version: stable
  contact:
    name: Financial Modeling Prep
    url: https://site.financialmodelingprep.com
  termsOfService: https://site.financialmodelingprep.com/terms-of-service
servers:
- url: https://financialmodelingprep.com/stable
  description: FMP stable REST base
- url: https://financialmodelingprep.com/api/v3
  description: FMP legacy v3 REST base
security:
- apiKeyQuery: []
tags:
- name: Economic Data
  description: Macroeconomic indicators, treasury rates, and economic calendar.
paths:
  /economic-indicators:
    get:
      operationId: getEconomicIndicators
      tags:
      - Economic Data
      summary: Economic indicators
      description: Returns time-series values for a named macroeconomic indicator such as GDP, CPI, or unemployment rate.
      parameters:
      - name: name
        in: query
        required: true
        description: Indicator name, e.g. GDP, CPI, unemploymentRate.
        schema:
          type: string
      - name: from
        in: query
        required: false
        description: Start date (YYYY-MM-DD).
        schema:
          type: string
          format: date
      - name: to
        in: query
        required: false
        description: End date (YYYY-MM-DD).
        schema:
          type: string
          format: date
      responses:
        '200':
          description: A macroeconomic indicator time series.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /treasury-rates:
    get:
      operationId: getTreasuryRates
      tags:
      - Economic Data
      summary: Treasury rates
      description: Returns U.S. treasury rates across standard maturities for a date range.
      parameters:
      - name: from
        in: query
        required: false
        description: Start date (YYYY-MM-DD).
        schema:
          type: string
          format: date
      - name: to
        in: query
        required: false
        description: End date (YYYY-MM-DD).
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Treasury rates by maturity.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /economic-calendar:
    get:
      operationId: getEconomicCalendar
      tags:
      - Economic Data
      summary: Economic calendar
      description: Returns scheduled macroeconomic events and releases within a date range.
      parameters:
      - name: from
        in: query
        required: false
        description: Start date (YYYY-MM-DD).
        schema:
          type: string
          format: date
      - name: to
        in: query
        required: false
        description: End date (YYYY-MM-DD).
        schema:
          type: string
          format: date
      responses:
        '200':
          description: A list of economic calendar events.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
components:
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: apikey
      description: FMP API key passed as the `apikey` query parameter on every request, e.g. ?apikey=YOUR_API_KEY. Obtain a key from the FMP dashboard.
