openapi: 3.2.0
info:
  title: Financial Modeling Prep Quote API
  description: Financial Modeling Prep (FMP) provides financial market data including real-time and historical stock quotes, company fundamentals, financial statements (income, balance sheet, cash flow), insider transactions, earnings, ratios, and economic data. This OpenAPI spec covers a representative subset of the public REST API.
  version: 3.0.0
  contact:
    name: Financial Modeling Prep
    url: https://site.financialmodelingprep.com/
servers:
- url: https://financialmodelingprep.com/api/v3
  description: Financial Modeling Prep v3 API
security:
- apiKeyQuery: []
tags:
- name: Quote
paths:
  /quote/{symbol}:
    get:
      operationId: getQuote
      summary: Get real-time stock quote
      description: Returns the latest price and market data for a given ticker symbol.
      parameters:
      - $ref: '#/components/parameters/Symbol'
      responses:
        '200':
          description: Quote data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Quote'
      tags:
      - Quote
components:
  schemas:
    Quote:
      type: object
      properties:
        symbol:
          type: string
        name:
          type: string
        price:
          type: number
        changesPercentage:
          type: number
        change:
          type: number
        dayLow:
          type: number
        dayHigh:
          type: number
        yearHigh:
          type: number
        yearLow:
          type: number
        marketCap:
          type: number
        priceAvg50:
          type: number
        priceAvg200:
          type: number
        volume:
          type: integer
        avgVolume:
          type: integer
        exchange:
          type: string
        open:
          type: number
        previousClose:
          type: number
        eps:
          type: number
        pe:
          type: number
        timestamp:
          type: integer
  parameters:
    Symbol:
      name: symbol
      in: path
      required: true
      description: Ticker symbol (e.g., AAPL, MSFT)
      schema:
        type: string
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: apikey
