openapi: 3.2.0
info:
  title: Financial Modeling Prep Cash Flow Statement API
  description: Financial Modeling Prep (FMP) provides financial market data including real-time and historical stock quotes, company fundamentals, financial statements (income, balance sheet, cash flow), insider transactions, earnings, ratios, and economic data. This OpenAPI spec covers a representative subset of the public REST API.
  version: 3.0.0
  contact:
    name: Financial Modeling Prep
    url: https://site.financialmodelingprep.com/
servers:
- url: https://financialmodelingprep.com/api/v3
  description: Financial Modeling Prep v3 API
security:
- apiKeyQuery: []
tags:
- name: Cash Flow Statement
paths:
  /cash-flow-statement/{symbol}:
    get:
      operationId: getCashFlowStatement
      summary: Get company cash flow statement
      parameters:
      - $ref: '#/components/parameters/Symbol'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Cash flow statement records
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
      tags:
      - Cash Flow Statement
components:
  parameters:
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 40
    Symbol:
      name: symbol
      in: path
      required: true
      description: Ticker symbol (e.g., AAPL, MSFT)
      schema:
        type: string
    Period:
      name: period
      in: query
      description: Reporting period
      schema:
        type: string
        enum:
        - annual
        - quarter
        default: annual
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: apikey
