openapi: 3.1.0
info:
  title: Financial Modeling Prep Balance Sheet Statement API
  description: Financial Modeling Prep (FMP) Balance Sheet Statement API — part of the FMP stable REST API. Generated from
    the official FMP API documentation (https://site.financialmodelingprep.com/api-docs.md). Legacy /api/v3 and /api/v4 endpoints
    have been discontinued; the stable base URL https://financialmodelingprep.com/stable is the supported surface.
  version: stable
  contact:
    name: Financial Modeling Prep
    url: https://site.financialmodelingprep.com/
servers:
- url: https://financialmodelingprep.com/stable
  description: Financial Modeling Prep stable API
security:
- apiKeyQuery: []
- apiKeyHeader: []
tags:
- name: Balance Sheet Statement
paths:
  /balance-sheet-statement:
    get:
      operationId: getBalanceSheet
      summary: Get balance sheet statements for a company
      description: Get balance sheet statements for a company. Documented at https://site.financialmodelingprep.com/developer/docs.
      tags:
      - Balance Sheet Statement
      parameters:
      - name: symbol
        in: query
        required: true
        schema:
          type: string
        example: AAPL
      - name: limit
        in: query
        required: false
        schema:
          type: number
        example: '5'
      - name: period
        in: query
        required: false
        schema:
          type: string
        example: Q1,Q2,Q3,Q4,FY,annual,quarter
      responses:
        '200':
          description: Balance Sheet Statement data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BalanceSheetStatement'
              example:
              - date: '2024-09-28'
                symbol: AAPL
                reportedCurrency: USD
                cik: 0000320193
                filingDate: '2024-11-01'
                acceptedDate: '2024-11-01 06:01:36'
                fiscalYear: '2024'
                period: FY
                cashAndCashEquivalents: 29943000000
                shortTermInvestments: 35228000000
                cashAndShortTermInvestments: 65171000000
                netReceivables: 66243000000
                accountsReceivables: 33410000000
                otherReceivables: 32833000000
                inventory: 7286000000
                prepaids: 0
                otherCurrentAssets: 14287000000
                totalCurrentAssets: 152987000000
                propertyPlantEquipmentNet: 45680000000
                goodwill: 0
                intangibleAssets: 0
                goodwillAndIntangibleAssets: 0
                longTermInvestments: 91479000000
                taxAssets: 19499000000
                otherNonCurrentAssets: 55335000000
                totalNonCurrentAssets: 211993000000
                otherAssets: 0
                totalAssets: 364980000000
                totalPayables: 95561000000
                accountPayables: 68960000000
                otherPayables: 26601000000
                accruedExpenses: 0
                shortTermDebt: 20879000000
                capitalLeaseObligationsCurrent: 1632000000
                taxPayables: 26601000000
                deferredRevenue: 8249000000
                otherCurrentLiabilities: 50071000000
                totalCurrentLiabilities: 176392000000
                longTermDebt: 85750000000
                deferredRevenueNonCurrent: 10798000000
                deferredTaxLiabilitiesNonCurrent: 0
                otherNonCurrentLiabilities: 35090000000
                totalNonCurrentLiabilities: 131638000000
                otherLiabilities: 0
                capitalLeaseObligations: 12430000000
                totalLiabilities: 308030000000
                treasuryStock: 0
                preferredStock: 0
                commonStock: 83276000000
                retainedEarnings: -19154000000
                additionalPaidInCapital: 0
                accumulatedOtherComprehensiveIncomeLoss: -7172000000
                otherTotalStockholdersEquity: 0
                totalStockholdersEquity: 56950000000
                totalEquity: 56950000000
                minorityInterest: 0
                totalLiabilitiesAndTotalEquity: 364980000000
                totalInvestments: 126707000000
                totalDebt: 106629000000
                netDebt: 76686000000
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                Error Message: Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid
                  for more information.
components:
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: apikey
      description: FMP API key passed as a query parameter (?apikey=YOUR_API_KEY, or &apikey= when other query parameters
        exist).
    apiKeyHeader:
      type: apiKey
      in: header
      name: apikey
      description: 'FMP API key passed in the request header as apikey: YOUR_API_KEY.'
  schemas:
    BalanceSheetStatement:
      type: object
      properties:
        date:
          type: string
        symbol:
          type: string
        reportedCurrency:
          type: string
        cik:
          type: string
        filingDate:
          type: string
        acceptedDate:
          type: string
        fiscalYear:
          type: string
        period:
          type: string
        cashAndCashEquivalents:
          type: integer
        shortTermInvestments:
          type: integer
        cashAndShortTermInvestments:
          type: integer
        netReceivables:
          type: integer
        accountsReceivables:
          type: integer
        otherReceivables:
          type: integer
        inventory:
          type: integer
        prepaids:
          type: integer
        otherCurrentAssets:
          type: integer
        totalCurrentAssets:
          type: integer
        propertyPlantEquipmentNet:
          type: integer
        goodwill:
          type: integer
        intangibleAssets:
          type: integer
        goodwillAndIntangibleAssets:
          type: integer
        longTermInvestments:
          type: integer
        taxAssets:
          type: integer
        otherNonCurrentAssets:
          type: integer
        totalNonCurrentAssets:
          type: integer
        otherAssets:
          type: integer
        totalAssets:
          type: integer
        totalPayables:
          type: integer
        accountPayables:
          type: integer
        otherPayables:
          type: integer
        accruedExpenses:
          type: integer
        shortTermDebt:
          type: integer
        capitalLeaseObligationsCurrent:
          type: integer
        taxPayables:
          type: integer
        deferredRevenue:
          type: integer
        otherCurrentLiabilities:
          type: integer
        totalCurrentLiabilities:
          type: integer
        longTermDebt:
          type: integer
        deferredRevenueNonCurrent:
          type: integer
        deferredTaxLiabilitiesNonCurrent:
          type: integer
        otherNonCurrentLiabilities:
          type: integer
        totalNonCurrentLiabilities:
          type: integer
        otherLiabilities:
          type: integer
        capitalLeaseObligations:
          type: integer
        totalLiabilities:
          type: integer
        treasuryStock:
          type: integer
        preferredStock:
          type: integer
        commonStock:
          type: integer
        retainedEarnings:
          type: integer
        additionalPaidInCapital:
          type: integer
        accumulatedOtherComprehensiveIncomeLoss:
          type: integer
        otherTotalStockholdersEquity:
          type: integer
        totalStockholdersEquity:
          type: integer
        totalEquity:
          type: integer
        minorityInterest:
          type: integer
        totalLiabilitiesAndTotalEquity:
          type: integer
        totalInvestments:
          type: integer
        totalDebt:
          type: integer
        netDebt:
          type: integer
    Error:
      type: object
      properties:
        Error Message:
          type: string
      description: 'FMP error envelope, e.g. {"Error Message": "Invalid API KEY. ..."}'
