openapi: 3.1.0
info:
  title: Financial Modeling Prep Quote API
  description: Financial Modeling Prep (FMP) Quote API — part of the FMP stable REST API. Generated from the official FMP
    API documentation (https://site.financialmodelingprep.com/api-docs.md). Legacy /api/v3 and /api/v4 endpoints have been
    discontinued; the stable base URL https://financialmodelingprep.com/stable is the supported surface.
  version: stable
  contact:
    name: Financial Modeling Prep
    url: https://site.financialmodelingprep.com/
servers:
- url: https://financialmodelingprep.com/stable
  description: Financial Modeling Prep stable API
security:
- apiKeyQuery: []
- apiKeyHeader: []
tags:
- name: Quote
paths:
  /quote:
    get:
      operationId: getQuote
      summary: Get real-time stock quote
      description: Get real-time stock quote. Documented at https://site.financialmodelingprep.com/developer/docs.
      tags:
      - Quote
      parameters:
      - name: symbol
        in: query
        required: true
        schema:
          type: string
        example: AAPL
      responses:
        '200':
          description: Quote data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Quote'
              example:
              - symbol: AAPL
                name: Apple Inc.
                price: 232.8
                changePercentage: 2.1008
                change: 4.79
                volume: 44489128
                dayLow: 226.65
                dayHigh: 233.13
                yearHigh: 260.1
                yearLow: 164.08
                marketCap: 3500823120000
                priceAvg50: 240.2278
                priceAvg200: 219.98755
                exchange: NASDAQ
                open: 227.2
                previousClose: 228.01
                timestamp: 1738702801
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                Error Message: Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid
                  for more information.
components:
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: apikey
      description: FMP API key passed as a query parameter (?apikey=YOUR_API_KEY, or &apikey= when other query parameters
        exist).
    apiKeyHeader:
      type: apiKey
      in: header
      name: apikey
      description: 'FMP API key passed in the request header as apikey: YOUR_API_KEY.'
  schemas:
    Quote:
      type: object
      properties:
        symbol:
          type: string
        name:
          type: string
        price:
          type: number
        changePercentage:
          type: number
        change:
          type: number
        volume:
          type: integer
        dayLow:
          type: number
        dayHigh:
          type: number
        yearHigh:
          type: number
        yearLow:
          type: number
        marketCap:
          type: integer
        priceAvg50:
          type: number
        priceAvg200:
          type: number
        exchange:
          type: string
        open:
          type: number
        previousClose:
          type: number
        timestamp:
          type: integer
    Error:
      type: object
      properties:
        Error Message:
          type: string
      description: 'FMP error envelope, e.g. {"Error Message": "Invalid API KEY. ..."}'
