openapi: 3.1.0
info:
  title: Financial Modeling Prep Profile API
  description: Financial Modeling Prep (FMP) Profile API — part of the FMP stable REST API. Generated from the official FMP
    API documentation (https://site.financialmodelingprep.com/api-docs.md). Legacy /api/v3 and /api/v4 endpoints have been
    discontinued; the stable base URL https://financialmodelingprep.com/stable is the supported surface.
  version: stable
  contact:
    name: Financial Modeling Prep
    url: https://site.financialmodelingprep.com/
servers:
- url: https://financialmodelingprep.com/stable
  description: Financial Modeling Prep stable API
security:
- apiKeyQuery: []
- apiKeyHeader: []
tags:
- name: Profile
paths:
  /profile:
    get:
      operationId: getCompanyProfile
      summary: Get company profile data
      description: Get company profile data. Documented at https://site.financialmodelingprep.com/developer/docs.
      tags:
      - Profile
      parameters:
      - name: symbol
        in: query
        required: true
        schema:
          type: string
        example: AAPL
      responses:
        '200':
          description: Profile data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyProfile'
              example:
              - symbol: AAPL
                price: 262.82
                marketCap: 3900351299800
                beta: 1.086
                lastDividend: 1.05
                range: 169.21-265.29
                change: 3.24
                changePercentage: 1.24817
                volume: 36725325
                averageVolume: 44645993
                companyName: Apple Inc.
                currency: USD
                cik: 0000320193
                isin: US0378331005
                cusip: 037833100
                exchangeFullName: NASDAQ Global Select
                exchange: NASDAQ
                industry: Consumer Electronics
                website: https://www.apple.com
                description: Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables,
                  and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers;
                  iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV,
                  Apple Watch, Beats products, and HomePod. It also provides AppleCare support and cloud services; and operates
                  various platforms, including the App Store that allow customers to discov...
                ceo: Timothy D. Cook
                sector: Technology
                country: US
                fullTimeEmployees: '164000'
                phone: (408) 996-1010
                address: One Apple Park Way
                city: Cupertino
                state: CA
                zip: '95014'
                image: https://images.financialmodelingprep.com/symbol/AAPL.png
                ipoDate: '1980-12-12'
                defaultImage: false
                isEtf: false
                isActivelyTrading: true
                isAdr: false
                isFund: false
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                Error Message: Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid
                  for more information.
components:
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: apikey
      description: FMP API key passed as a query parameter (?apikey=YOUR_API_KEY, or &apikey= when other query parameters
        exist).
    apiKeyHeader:
      type: apiKey
      in: header
      name: apikey
      description: 'FMP API key passed in the request header as apikey: YOUR_API_KEY.'
  schemas:
    CompanyProfile:
      type: object
      properties:
        symbol:
          type: string
        price:
          type: number
        marketCap:
          type: integer
        beta:
          type: number
        lastDividend:
          type: number
        range:
          type: string
        change:
          type: number
        changePercentage:
          type: number
        volume:
          type: integer
        averageVolume:
          type: integer
        companyName:
          type: string
        currency:
          type: string
        cik:
          type: string
        isin:
          type: string
        cusip:
          type: string
        exchangeFullName:
          type: string
        exchange:
          type: string
        industry:
          type: string
        website:
          type: string
        description:
          type: string
        ceo:
          type: string
        sector:
          type: string
        country:
          type: string
        fullTimeEmployees:
          type: string
        phone:
          type: string
        address:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        image:
          type: string
        ipoDate:
          type: string
        defaultImage:
          type: boolean
        isEtf:
          type: boolean
        isActivelyTrading:
          type: boolean
        isAdr:
          type: boolean
        isFund:
          type: boolean
    Error:
      type: object
      properties:
        Error Message:
          type: string
      description: 'FMP error envelope, e.g. {"Error Message": "Invalid API KEY. ..."}'
