openapi: 3.1.0
info:
  title: Financial Modeling Prep Search API
  description: Financial Modeling Prep (FMP) Search API — part of the FMP stable REST API. Generated from the official FMP
    API documentation (https://site.financialmodelingprep.com/api-docs.md). Legacy /api/v3 and /api/v4 endpoints have been
    discontinued; the stable base URL https://financialmodelingprep.com/stable is the supported surface.
  version: stable
  contact:
    name: Financial Modeling Prep
    url: https://site.financialmodelingprep.com/
servers:
- url: https://financialmodelingprep.com/stable
  description: Financial Modeling Prep stable API
security:
- apiKeyQuery: []
- apiKeyHeader: []
tags:
- name: Search
paths:
  /search-symbol:
    get:
      operationId: searchSymbols
      summary: Search stock ticker symbols by company name or symbol
      description: Search stock ticker symbols by company name or symbol. Documented at https://site.financialmodelingprep.com/developer/docs.
      tags:
      - Search
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: AAPL
      - name: limit
        in: query
        required: false
        schema:
          type: number
        example: '50'
      - name: exchange
        in: query
        required: false
        schema:
          type: string
        example: NASDAQ
      responses:
        '200':
          description: Search data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SymbolSearchResult'
              example:
              - symbol: AAPL
                name: Apple Inc.
                currency: USD
                exchangeFullName: NASDAQ Global Select
                exchange: NASDAQ
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                Error Message: Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid
                  for more information.
components:
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: apikey
      description: FMP API key passed as a query parameter (?apikey=YOUR_API_KEY, or &apikey= when other query parameters
        exist).
    apiKeyHeader:
      type: apiKey
      in: header
      name: apikey
      description: 'FMP API key passed in the request header as apikey: YOUR_API_KEY.'
  schemas:
    SymbolSearchResult:
      type: object
      properties:
        symbol:
          type: string
        name:
          type: string
        currency:
          type: string
        exchangeFullName:
          type: string
        exchange:
          type: string
    Error:
      type: object
      properties:
        Error Message:
          type: string
      description: 'FMP error envelope, e.g. {"Error Message": "Invalid API KEY. ..."}'
