openapi: 3.2.0
info:
  title: Financial Modeling Prep Historical Price Full API
  description: Financial Modeling Prep (FMP) provides financial market data including real-time and historical stock quotes, company fundamentals, financial statements (income, balance sheet, cash flow), insider transactions, earnings, ratios, and economic data. This OpenAPI spec covers a representative subset of the public REST API.
  version: 3.0.0
  contact:
    name: Financial Modeling Prep
    url: https://site.financialmodelingprep.com/
servers:
- url: https://financialmodelingprep.com/api/v3
  description: Financial Modeling Prep v3 API
security:
- apiKeyQuery: []
tags:
- name: Historical Price Full
paths:
  /historical-price-full/{symbol}:
    get:
      operationId: getHistoricalPrice
      summary: Get historical end-of-day prices
      description: Returns historical daily OHLCV data for a ticker symbol.
      parameters:
      - $ref: '#/components/parameters/Symbol'
      - name: from
        in: query
        schema:
          type: string
          format: date
      - name: to
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Historical price series
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalPriceResponse'
      tags:
      - Historical Price Full
components:
  parameters:
    Symbol:
      name: symbol
      in: path
      required: true
      description: Ticker symbol (e.g., AAPL, MSFT)
      schema:
        type: string
  schemas:
    HistoricalPrice:
      type: object
      properties:
        date:
          type: string
          format: date
        open:
          type: number
        high:
          type: number
        low:
          type: number
        close:
          type: number
        adjClose:
          type: number
        volume:
          type: integer
    HistoricalPriceResponse:
      type: object
      properties:
        symbol:
          type: string
        historical:
          type: array
          items:
            $ref: '#/components/schemas/HistoricalPrice'
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: apikey
