openapi: 3.2.0
info:
  title: Financial Modeling Prep Income Statement API
  description: Financial Modeling Prep (FMP) provides financial market data including real-time and historical stock quotes, company fundamentals, financial statements (income, balance sheet, cash flow), insider transactions, earnings, ratios, and economic data. This OpenAPI spec covers a representative subset of the public REST API.
  version: 3.0.0
  contact:
    name: Financial Modeling Prep
    url: https://site.financialmodelingprep.com/
servers:
- url: https://financialmodelingprep.com/api/v3
  description: Financial Modeling Prep v3 API
security:
- apiKeyQuery: []
tags:
- name: Income Statement
paths:
  /income-statement/{symbol}:
    get:
      operationId: getIncomeStatement
      summary: Get company income statement
      parameters:
      - $ref: '#/components/parameters/Symbol'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Income statement records
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IncomeStatement'
      tags:
      - Income Statement
components:
  parameters:
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 40
    Symbol:
      name: symbol
      in: path
      required: true
      description: Ticker symbol (e.g., AAPL, MSFT)
      schema:
        type: string
    Period:
      name: period
      in: query
      description: Reporting period
      schema:
        type: string
        enum:
        - annual
        - quarter
        default: annual
  schemas:
    IncomeStatement:
      type: object
      properties:
        date:
          type: string
          format: date
        symbol:
          type: string
        period:
          type: string
        revenue:
          type: number
        costOfRevenue:
          type: number
        grossProfit:
          type: number
        operatingIncome:
          type: number
        netIncome:
          type: number
        eps:
          type: number
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: apikey
