openapi: 3.2.0
info:
  title: Financial Modeling Prep Search API
  description: Financial Modeling Prep (FMP) provides financial market data including real-time and historical stock quotes, company fundamentals, financial statements (income, balance sheet, cash flow), insider transactions, earnings, ratios, and economic data. This OpenAPI spec covers a representative subset of the public REST API.
  version: 3.0.0
  contact:
    name: Financial Modeling Prep
    url: https://site.financialmodelingprep.com/
servers:
- url: https://financialmodelingprep.com/api/v3
  description: Financial Modeling Prep v3 API
security:
- apiKeyQuery: []
tags:
- name: Search
paths:
  /search:
    get:
      operationId: searchSymbols
      summary: Search for ticker symbols
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          default: 10
      - name: exchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    symbol:
                      type: string
                    name:
                      type: string
                    currency:
                      type: string
                    stockExchange:
                      type: string
                    exchangeShortName:
                      type: string
      tags:
      - Search
components:
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: apikey
